# USA Flight Delays: Data Overview
Format: A data frame with 21 columns

- <b>year</b>: Year data collected

- <b>month</b>: Numeric representation of the month

- <b>carrier</b>: Airline Carrier abbreviation

- <b>carrier_name</b>: Airline Carrier Name

- <b>airport</b>: Airport code

- <b>airport_name</b>: Name of airport

- <b>arr_flights</b>: Number of flights arriving at airport

- <b>arr_del15</b>: Number of flights more than 15 minutes late

- <b>carrier_ct</b>: Number of flights delayed due to air carrier. (e.g. no crew)

- <b>weather_ct</b>: Number of flights delayed due to weather

- <b>nas_ct</b>: Number of flights delayed due to National Aviation System (e.g. heavy air traffic)

- <b>security_ct</b>: Number of flights canceled due to a security breach

- <b>late_aircraft_ct</b>: Number of flights delayed as a result of another flight on the same aircraft delayed

- <b>arr_cancelled</b>: Number of cancelled flights

- <b>arr_diverted</b>: Number of flights that were diverted

- <b>arr_delay</b>: Total time (minutes) of delayed flight

- <b>carrier_delay</b>: Total time (minutes) of delay due to air carrier

- <b>weather_delay</b>: Total time (minutes) of delay due to inclement weather

- <b>nas_delay</b>: Total time (minutes) of delay due to National Aviation System

- <b>security_delay</b>: Total time (minutes) of delay as a result of a security issue

- <b>late_aircraft_delay</b>: Total time (minutes) of delay flights as a result of a previous flight on the same airplane being late.

Data downloaded from Bureau of Transportation Statistics:  
https://www.transtats.bts.gov/OT_Delay/OT_DelayCause1.asp

- As of 2023.01.25, the latest data available is October 2022.  
- To keep quarter and year comparisons consistent, we will use data from Jan 2004 to Dec 2021.
- Only airports classified as "Major Airport" by BTS will be added to this analysis.

In [1]:
import numpy as np
import pandas as pd
# import math # using math.ceil() instead of round() to round all numbers up; round() can round down

In [2]:
sfo = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/SFO Airline_Delay_Cause 2004.01 - 2021.12.csv")
sfo.head(2)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021,12,AA,American Airlines Inc.,SFO,"San Francisco, CA: San Francisco International",730.0,170.0,56.55,0.93,...,0.19,22.39,2.0,5.0,8295.0,3415.0,42.0,2867.0,21.0,1950.0
1,2021,12,AS,Alaska Airlines Inc.,SFO,"San Francisco, CA: San Francisco International",988.0,260.0,65.37,6.38,...,5.22,70.59,55.0,5.0,15472.0,4671.0,452.0,4125.0,325.0,5899.0

In [3]:
sfo.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

### Union data from multiple airports into one dataset

In [4]:
atl = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/ATL Airline_Delay_Cause 2004.01 - 2021.12.csv")
bna = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/BNA Airline_Delay_Cause 2004.01 - 2021.12.csv")
bos = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/BOS Airline_Delay_Cause 2004.01 - 2021.12.csv")
bwi = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/BWI Airline_Delay_Cause 2004.01 - 2021.12.csv")
clt = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/CLT Airline_Delay_Cause 2004.01 - 2021.12.csv")
dal = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/DAL Airline_Delay_Cause 2004.01 - 2021.12.csv")
dca = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/DCA Airline_Delay_Cause 2004.01 - 2021.12.csv")
den = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/DEN Airline_Delay_Cause 2004.01 - 2021.12.csv")
dfw = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/DFW Airline_Delay_Cause 2004.01 - 2021.12.csv")
dtw = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/DTW Airline_Delay_Cause 2004.01 - 2021.12.csv")
ewr = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/EWR Airline_Delay_Cause 2004.01 - 2021.12.csv")
fll = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/FLL Airline_Delay_Cause 2004.01 - 2021.12.csv")
iad = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/IAD Airline_Delay_Cause 2004.01 - 2021.12.csv")
iah = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/IAH Airline_Delay_Cause 2004.01 - 2021.12.csv")
jfk = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/JFK Airline_Delay_Cause 2004.01 - 2021.12.csv")
las = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/LAS Airline_Delay_Cause 2004.01 - 2021.12.csv")
lax = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/LAX Airline_Delay_Cause 2004.01 - 2021.12.csv")
lga = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/LGA Airline_Delay_Cause 2004.01 - 2021.12.csv")
mco = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/MCO Airline_Delay_Cause 2004.01 - 2021.12.csv")
mdw = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/MDW Airline_Delay_Cause 2004.01 - 2021.12.csv")
mia = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/MIA Airline_Delay_Cause 2004.01 - 2021.12.csv")
msp = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/MSP Airline_Delay_Cause 2004.01 - 2021.12.csv")
oord = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/ORD Airline_Delay_Cause 2004.01 - 2021.12.csv")
phl = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/PHL Airline_Delay_Cause 2004.01 - 2021.12.csv")
phx = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/PHX Airline_Delay_Cause 2004.01 - 2021.12.csv")
san = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/SAN Airline_Delay_Cause 2004.01 - 2021.12.csv")
sea = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/SEA Airline_Delay_Cause 2004.01 - 2021.12.csv")
slc = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/SLC Airline_Delay_Cause 2004.01 - 2021.12.csv")
tpa = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/TPA Airline_Delay_Cause 2004.01 - 2021.12.csv")
hnl = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/HNL Airline_Delay_Cause 2004.01 - 2021.12.csv")

In [5]:
# Combine all airports into one dataset
df = pd.concat(
    [sfo,lax,atl,bna,bos,bwi,clt,dal,dca,den,dfw,dtw,ewr,fll,iad,iah,
     jfk,las,lax,lga,mco,mdw,mia,msp,oord,phl,phx,san,sea,slc,tpa,hnl]
        ).reset_index().drop(columns=['index'])

In [6]:
# year + month + day in one column, so Tableau can recognize date
df['YearMonth'] = df.year.astype(str) + " " + df.month.astype(str) + " " + str(28)

# add Quarters
df['Quarter'] = "Q1"
df.loc[df.month.isin([1,2,3]), 'Quarter'] = "Q1"
df.loc[df.month.isin([4,5,6]), 'Quarter'] = "Q2"
df.loc[df.month.isin([7,8,9]), 'Quarter'] = "Q3"
df.loc[df.month.isin([10,11,12]), 'Quarter'] = "Q4"

# Airport Locations Mapping
- Add Latitude & Longitude
- Location data from: https://data.humdata.org/dataset/ourairports-usa

In [7]:
LL = pd.read_csv("~/Downloads/BTS_Airline_Delays/Data/LatLong_us-airports.csv",
                 usecols=['name','latitude_deg','longitude_deg','iata_code','local_code'])
# local code == FAA 3-letter code.  iata code == IATA code

In [8]:
LL.head(3)

,name,latitude_deg,longitude_deg,iata_code,local_code
0,#loc +airport +name,#geo +lat,#geo +lon,#loc +airport +code +iata,#loc +airport +code +local
1,Los Angeles International Airport,33.942501,-118.407997,LAX,LAX
2,Chicago O'Hare International Airport,41.9786,-87.9048,ORD,ORD

In [9]:
# assign locations to each airport using Left Join
df = df.merge(right=LL[['name','latitude_deg','longitude_deg','local_code']].rename(columns={'local_code':'airport'}),
                                                                             how='left', on='airport')

check to see if every airport has a location assigned to it

In [10]:
df.groupby(['airport','latitude_deg','longitude_deg']).count()['year']

airport  latitude_deg        longitude_deg
ATL      33.6367             -84.428101            2785
BNA      36.1245002746582    -86.6781997680664     2524
BOS      42.3643             -71.005203            2747
BWI      39.1754             -76.668297            2543
CLT      35.2140007019043    -80.94309997558594    2459
DAL      32.847099           -96.851799             689
DCA      38.8521             -77.037697            2775
DEN      39.861698150635     -104.672996521        2720
DFW      32.896801           -97.038002            2736
DTW      42.212398529052734  -83.35340118408203    2869
EWR      40.692501           -74.168701            2558
FLL      26.072599           -80.152702            2221
HNL      21.32062            -157.924228           1531
IAD      38.9445             -77.455803            2489
IAH      29.984399795532227  -95.34140014648438    2414
JFK      40.639447           -73.779317            1922
LAS      36.083361           -115.151817           2830
LAX      33.942501           -118.407997           5696
LGA      40.777199           -73.872597            2718
MCO      28.429399490356445  -81.30899810791016    2489
MDW      41.785999           -87.752403            1275
MIA      25.79319953918457   -80.29060363769531    1851
MSP      44.882              -93.221802            2705
ORD      41.9786             -87.9048              2650
PHL      39.87189865112305   -75.24109649658203    2691
PHX      33.435302           -112.005905           2783
SAN      32.7336006165       -117.190002441        2754
SEA      47.449162           -122.311134           2545
SFO      37.61899948120117   -122.375              2575
SLC      40.785749           -111.979746           2357
TPA      27.975500106811523  -82.533203125         2254
Name: year, dtype: int64

# Data Cleaning & Calculations

## Average Minutes Delayed
- One column per delay type

In [11]:
df['avg_weather'] = df.weather_delay / df.weather_ct # avg minutes delayed per flight
df['avg_carrier'] = df.carrier_delay / df.carrier_ct
df['avg_nas'] = df.nas_delay / df.nas_ct
df['avg_security'] = df.security_delay / df.security_ct
df['avg_late_aircraft'] = df.late_aircraft_delay / df.late_aircraft_ct
df['avg_delay'] = df.arr_delay / df.arr_flights

### Make new columns showing previous year's data from same airport, carrier, and month
- used to show change from previous year in dashboard
- self join on previous year

In [12]:
# initialize new columns
df2 = df.rename(columns={'year':'year_pvyr'})
df['year_pvyr'] = df.year - 1

In [13]:
# self join
df3 = df.merge(right=df2, how='left',on=['year_pvyr','month','airport','carrier'])

In [14]:
df3.drop(columns=['carrier_name_y','airport_name_y','latitude_deg_y','longitude_deg_y'],inplace=True)
df3.rename(columns={'carrier_name_x':'carrier_name','airport_name_x':'airport_name',
                    'latitude_deg_x':'latitude_deg','longitude_deg_x':'longitude_deg'},inplace=True)

df3.columns  # X columns are from left table.  Y columns are from right table. Columns without X/Y are unique keys

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights_x', 'arr_del15_x', 'carrier_ct_x', 'weather_ct_x',
       'nas_ct_x', 'security_ct_x', 'late_aircraft_ct_x', 'arr_cancelled_x',
       'arr_diverted_x', 'arr_delay_x', 'carrier_delay_x', 'weather_delay_x',
       'nas_delay_x', 'security_delay_x', 'late_aircraft_delay_x',
       'YearMonth_x', 'Quarter_x', 'name_x', 'latitude_deg', 'longitude_deg',
       'avg_weather_x', 'avg_carrier_x', 'avg_nas_x', 'avg_security_x',
       'avg_late_aircraft_x', 'avg_delay_x', 'year_pvyr', 'arr_flights_y',
       'arr_del15_y', 'carrier_ct_y', 'weather_ct_y', 'nas_ct_y',
       'security_ct_y', 'late_aircraft_ct_y', 'arr_cancelled_y',
       'arr_diverted_y', 'arr_delay_y', 'carrier_delay_y', 'weather_delay_y',
       'nas_delay_y', 'security_delay_y', 'late_aircraft_delay_y',
       'YearMonth_y', 'Quarter_y', 'name_y', 'avg_weather_y', 'avg_carrier_y',
       'avg_nas_y', 'avg_security_y', 'avg_late_aircraft_y', 'avg_delay_y'],
      dtype='object')

### Checking success of self-join operation
- <b>avg_weather_x</b> = weather of current year
- <b>avg_weather_y</b> = weather of previous year

In [15]:
# United Airlines at SFO
df3[(df3.airport == "SFO") & (df3.year.isin([2019, 2018, 2017, 2016, 2015])) & (df3.carrier == 'UA') & (df3.month == 10)][['year','year_pvyr','month','carrier','airport','avg_security_x','avg_security_y']].transpose()

                 253        361        471   594   714
year            2019       2018       2017  2016  2015
year_pvyr       2018       2017       2016  2015  2014
month             10         10         10    10    10
carrier           UA         UA         UA    UA    UA
airport          SFO        SFO        SFO   SFO   SFO
avg_security_x   NaN        NaN  36.363636   NaN   NaN
avg_security_y   NaN  36.363636        NaN   NaN   NaN

### Fill Nulls
- Assume null means no incidents occured

In [16]:
df3.fillna(value=0,inplace=True)

### Calculate Amount of change YoY

In [17]:
df3['avg_weather_change'] = df3.avg_weather_x - df3.avg_weather_y # avg minutes delayed per flight
df3['avg_carrier_change'] = df3.avg_carrier_x - df3.avg_carrier_y
df3['avg_nas_change'] = df3.avg_nas_x - df3.avg_nas_y
df3['avg_security_change'] = df3.avg_security_x - df3.avg_security_y
df3['avg_late_aircraft_change'] = df3.avg_late_aircraft_x - df3.avg_late_aircraft_y

In [18]:
df3[['airport','carrier','year','month','avg_late_aircraft_x','avg_late_aircraft_y','avg_late_aircraft_change']].head(3)

,airport,carrier,year,month,avg_late_aircraft_x,avg_late_aircraft_y,avg_late_aircraft_change
0,SFO,AA,2021,12,87.092452,64.160401,22.932051
1,SFO,AS,2021,12,83.567077,67.000000,16.567077
2,SFO,B6,2021,12,78.120063,96.756757,-18.636694

# Hub Mapping
- Label whether airline is considered a Hub to airport

# Export

In [19]:
df3.to_csv('USA_MajorAirports_Data.csv', index=False)